<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Take it to the limit!</title>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  
      <link rel="stylesheet" href="css/style.css">
    </head>
    
    
    <body>
         <div class="userHome" align="center">
    <div align="center" th:with="make=${car.make},model=${car.model}">
    <H1>You rented <span th:text="${make}">make</span> <span th:text="${model}">model</span></H1>
        <div class="homeBody">
         <div class="availableCarTable">
        <img th:src="${car.photo}" src="images/BEclipse2.jpg" >
             <form th:action="@{|/userHome|}" method="get">
    <input type="submit" value="Home"/>
    </form>
        </div>
    </div>
        </div>
             </div>
    </body>
    
</html>