<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add to CarRent</title>
</head>
<div align="center">
    <h1>AddCarrPage</h1>
    <br/>
    <div align="center">
        <h2> Email is already in use ! , Maybe try to log in? </h2>
        <a th:href="login" th:text="'login'">addCar</a>

        <br/>
        <form action="#" th:action="@{/saveUser}" th:object="${user}" method="post">
            <table>
                <tr>
                    <td>Your name :</td>
                    <td><input type="text" th:field="*{name}"></td>
                </tr>
                <tr>
                    <td>Your email adress :</td>
                    <td><input type="email" th:field="*{email}"></td>
                </tr> <tr>
                    <td>Password:</td>
                    <td><input type="password" th:field="*{pass}" minlength="6" required></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><button type="submit">Save</button> </td>
                </tr>

            </table>

        </form>

    </div>

</div>
</html>